.App {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 150px;
  /*background-image: url("./data/bg_img/bg1.jpg"); */
  background: #e4ebf5;
  
}

div {margin: 0px auto;}

.Button{
  margin-left: 20px;
}

.VideoSelection-Container{
  
  padding-top: 20px;
}
.MoveAndHeight-container{
  padding-top: 10px;
}

.Video-Container{
  padding-top: 10px;
  margin-top: 10px;
  padding-bottom: 10px;
}

.Hand-Container{
  padding-top: 5px;
  padding-bottom: 11px;
  margin-top: 30px;
}

